:root {
  --header-height: 5rem;
  --first-color: gold;
  --first-color-light:gold;
  --text-color:black;
  --text-color-light:wheat;
  --body-font: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.container {
  background-color: white;
  padding: 15px;
border-radius: 5px;

}

.Header .navbar-brand {
  font-size: 30px;
 
}

 .mtlogo {
  height: 50px;
  width: 25%;
  margin-bottom: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar-nav {
  display: flex;
  margin-left: auto;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
  height: 20px;

}


/* Hover effect for buttons home */
.nav-button:hover,
.cover-button:hover {
  color: gold;
  border-radius: 0px 8px 0px 8px;
}

.nav-button:active,
.cover-button:active {
  background-color: #191818;
  color: var(--first-color);

}

@media screen and (max-width: 991px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: self-end;
    margin-top:82vh;
  padding: 1px;}

  .navbar-nav li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .navbar-nav li:active a {
    color:gold;
  }
}

/* Assuming 'Header' is the component name */
.Header {
  height: var(--header-height);
  margin-bottom:30px;
}

/* Assuming 'Hero' and 'About' are sibling components */
.hero {
  margin-bottom: 40px;
}

/* Assuming 'About' and 'Program' are sibling components */
.about {
  margin-bottom: 40px;
}

.about-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid gold;
}

.about-title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}


.about-title1 {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.about-description{text-align: justify;}


/* Assuming 'Program' and 'Membership' are sibling components */
.program {
  margin-bottom: 40px;
}

.program-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  padding: 2.5rem 1rem;
  box-shadow: 0 4px 12px rgba(237, 237, 5, 0.1);
}

.program-card-image {
  max-width: 60px;
  max-height: 60px;
  margin-bottom: 1rem;
}

/* program section */
.section-title {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  text-align:center;
  margin-bottom: 2rem;
  margin-left: 30PX;

}

.section-subtitle1{font-weight: 200;font-size: 16px;margin-left: 480px;}




/* Assuming 'Membership' and 'Newsletter' are sibling components */
.membership {
  margin-bottom: 40px;
}

.membership-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  padding: 2.5rem 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.membership-plan {
  color:gold;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: gold;
  

}

.membership-title {
  font-weight: 700;
  font-size: 2rem;
}

.membership-description {
  margin-top: -10px;
  margin-bottom: 1.5rem;
}

.membership-feature {
  text-align: initial;
  margin-bottom: 2.5rem;
  
}

.membership-list {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  margin-bottom: 0.4rem;
  
}


.membership-btn {
  border: 1px solid var(--first-color);
  padding: 0.5rem 0;
  color: black;
  width: 100%;
  display: block;
  transition: 0.6s;
  font-weight: 600;
  margin-top: auto;
  text-decoration: none;
}

.membership-btn:hover {
  background-color: var(--first-color);
  color: #fff;

}

/* Assuming 'Newsletter' and 'Footer' are sibling components */
.newsletter {
  margin-bottom: 40px;
}

.newsletter-card {
  background-color: var(--first-color);
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: black;
}


.alert-danger {
  background-color: var(--first-color);
  color: black;
  font-weight: bolder;
  border-radius: 4px;
  margin-top: 10px;
  height: 50px; /* Adjust the height value as per your requirement */
  display: flex;
  align-items: center;
  justify-content: center;
}



.newsletter-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.newsletter-subtitle {
  font-weight: 500;
  margin-bottom: 1.7rem;
}

.newsletter-button {
  border: 1px solid var(--first-color);
  color: black;
  width: 40%;
  display: block;
  transition: 0.6s;
  font-weight: 600;
  margin-right:2px;
}

.newsletter-button:hover {
  background-color: var(--first-color);
  color: #191818;
}

.form-group {
  background-color: #fff;
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
}

.form-input {
  border: none;
  width: 100%;
  outline: none;
  height: 45px;
  margin-left: 0.4rem;
  color: var(--text-color-light);
}


/* Assuming 'Loginpage','signup' is the component name(container) */
.cover-card {
  margin-bottom: 40px;
  background-color: var(--first-color);
  padding-bottom: 30px;
}

.cover-group {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
  width: 400px;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px; */
padding: 25px;}


/* reg */

.reg-group {
 
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
  width: 80%;
  padding-left: 40px;
  padding-top: 30px;
  margin: 40px 0px 0px 110px;
}



.cover-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  padding: 10px;
}

.cover-label {
  font-size: 16px;
  color: #111;
  font-weight: bolder;
  font-size: large;
  padding-bottom: 3px;
  text-align: left;
}

.cover-label[type="text"],
.cover-label[type="password"] {
  padding: 8px;
  border: 1px solid #090909;
  border-radius: 5px;
  margin-bottom: 10px;
 }

.cover-button {
  border: 1px solid var(--first-color);
  padding: 0.5rem 0.5rem;
  color: black;
  width: 100%;
  display: block;
  transition: 0.6s;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 5px;
}

.cover-button:hover {
  background-color: var(--first-color);
  color: #191818;
}



/* Footer Component Styles */
.footer {
  margin-bottom: 20px;
  background-color: var(--first-color);
  color: #171616;
  padding: 40px;
}

.footer-row {
  display: grid;
  gap: 2rem;
}

.footer-identity {
  margin-top: 1rem;
  max-width: 70%;
  font-size: 1.1rem;
  font-weight: 400;
}

.footer-feature {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  
}

.footer-feature .col {
  flex: 1;
  max-width: 33%;
}

.footer-feature-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  
}


.footer-feature-list li {
  margin-bottom: 0.6rem;

}


.footer-feature-list li a {
  color: var(--text-color);
  display: block;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
text-decoration: none;
}

.footer-feature-list li a i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.footer-feature-list li a:hover {
  color: var(--first-color);
}

.footer-feature-list li a:hover i {
  color: var(--first-color);
}


.footer-identity span {
  color: black;
}

.footer-copyright{text-align: center; opacity:20%;}


/* Add this media query to adjust the footer layout on smaller screens */
@media screen and (max-width: 768px) {
  .footer-feature {
    flex-direction: column;
    /* Stack the columns vertically on smaller screens */
  }

  .footer-feature .col {
    max-width: 100%;
    /* Make each column take full width on smaller screens */
    margin-bottom: 1rem;
    /* Add some spacing between stacked columns */
  }

  /* Adjust the font size of the footer feature list items on smaller screens */
  .footer-feature-list li {
    font-size: 14px;
  }
}

.scroll-up {
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

}


.scroll-up.show-scroll {
  opacity: 1;
  visibility: visible;
}


/* for subscribe & login button */
.btn{background-color: gold;
  color: black;border: 1px solid gold;
  font-weight: 600;
  font-size: 18px;
border-radius: 0px 8px 0px 8px;
 
}


.btn1{
  color: black;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  
}


.btn:hover{background-color:black;color: gold;border: 1.2px solid gold; }

.cover-label{font-size: 18px;padding: 1px;}


/* Signup page  Registration page*/

.signupcontainer{ background-color: gold; 
margin: 70px;
padding: 35px;font-weight: 600;}


.sig{text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;}

  

  .btn2{background-color:gold;border: 6px solid white;
    border-radius: 8px 0px 8px 0px;
    font-weight: 600 ;
  margin-bottom: 20px;}
  
  .btn2:hover{background-color:black;color: gold ;}